
/* -----Header and 
--------Nav------ */

.background-color{
    background: rgba(255, 144, 14, 0.1);
}

.container{
    display: flex;
    justify-content:space-around;
}

.nav-heading{
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;

    color: #131313;

}
.nav-area{
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #424242;

    margin-top:63px



}

.nav-area li{
    list-style: none;
}



/* Main section */

.main-head{
    text-align: center;
    margin-top: 0%;
}

.main-heading{
    font-size: 64px;
    line-height: 75px;
    font-weight: 700 ;

    margin-bottom: 0;
}
.main-heading-two{
    font-size: 64px;
    line-height: 75px;
    font-weight: 700 ;

    margin-top:0;
}

.main-para{    
height: 52px; 
font-weight:400;
font-size: 14px;
line-height: 20px;
color: #727272;
}

/* Button */

.button{
    text-align: center;

}

.button-style{
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    color: white;
    background-color:#FF900E;
    border-radius: 10px;
    border: #FF900E;
    margin-bottom: 40px;
}



/* images */

.main-image img{
   width: 75%;
   align-content: center;
   margin-left: 12.5%;

   padding-bottom: 50px;

}

/* First-body-part-end */


/* Part-second-pages 
*/


.second-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


/* Page-images */


.grid-images{

    width: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 132px ;
    margin-left: 30%;
    
}

.grid-images div img{

    height: 250px;
    width: 250px;

}


.page-title{
    margin-top: 210px;
    margin-left: 95px;
}


.title-heading{
    font-size: 45px;
    color: #424242;
    margin-bottom: 0;
    font-weight: 700;
}

.title-heading-2{
    font-size: 45px;
    color: #FF900E;
    margin-top: 0;
    font-weight: 700;
}

.title-para{
    color: #727272;
    font-size: 14;
    line-height: 26px;
    text-align: justify;
    width: 430px;

}


.second-button{
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: white;
    border: #FF900E;
    padding: 15px;
    border-radius: 10px;
}

.hr-line{
    padding: 1px;
    border-radius: 50%;
    box-shadow: #424242;
}

/* Second-part-page-end */


/* Third-part-pages */

.vl{
    border-left: 6px solid green;
    height: 100px;
    margin-left: 140px;
}


.third-part-heading{

    font-size: 45px;
    margin-bottom: 0;

}

.third-part-heading-two{
font-size: 45px;
margin-top: 0;
}

.third-part-para{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    width: 550px ;
    text-align: justify;
    margin-bottom: 50px;
}

/* Left-head and Para-content */

.left-content{
width: 560px;
height: 120px;
border: 1px solid white;
border-radius: 8px;
padding: 20px;
margin-bottom: 10px;
background-color: #faf8f800;
box-shadow: 0px 6px 20px rgb(247, 241, 238);

}

.left-heading{

    font-size: 20px;
    font-weight: 600;
    Line height: 23.46px;


}

.left-para{
font-size: 16px;
font-weight: 400;
color: 
#727272;
}